<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Person1</title>
</head>
<body>
<h1>Add Person1</h1>
<form th:action="@{/add}" th:object="${person}" method="post" enctype="multipart/form-data">
  <label>Name: <input type="text" th:field="*{name}"/></label><br/>
  <label>Address: <input type="text" th:field="*{address}"/></label><br/>
  <label>Image: <input type="file" name="file"/></label><br/>
  <input type="submit" value="Submit"/>
</form>
<a href="/">Back to People</a>
</body>
</html>
